<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class=" container ">
    <div class="row collection">
        {{#each reviews}}
        <div class="  align-items">
            <div class=" align-items">
                <div class="card shadow p-1 mb-3 bg-white opacity " style="width: 16rem;">
                    <div class="card-body cardBackground">
                        <div><img class="center card shadow p-4 mb-6 bg-body imageResizer"
                                src="{{posterImage.medium}}"><br>
                        </div>
                        <h2 class="card-title englishText">{{titles.en}}</h2>
                        <h4 class=" card-title japaneseText">{{titles.ja_jp}}</h4>
                        <h5>{{synopsis}}</h5>
                        <li>Average Rating: {{averageRating}}</li>
                        <li>Start Date: {{startDate}}</li>
                        <li>End Date: {{endDate}}</li>
                        <li>Age Rating: {{ageRatingGuide}}</li>
                        <li>Episode Count: {{episodeCount}}</li>
                        <li>Episode Length: {{episodeLength}}</li><br>
                    </div>
                </div>
                <form>
                    <textarea class="textarea" id="review" readonly>
            user: sample@email.com 
            User rating: {{rating}}
            {{comment}}             
        </textarea>
                </form>
                {{{body}}}
                {{/each}}
            </div>

        </div>